meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title Jade Rabbit
link(rel='stylesheet', href='styles/main.css')<% if (modernizr) { %>
script(src='bower_components/modernizr/modernizr.js')
<% } %>