meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title <%= appname %>
// Place favicon.ico and apple-touch-icon.png in the root directory
// build:css(.tmp) styles/main.css 
link(rel='stylesheet', href='styles/main.css')
// endbuild <% if (modernizr) { %>
// build:js(.tmp) scripts/modernizr.js 
script(src='bower_components/modernizr/modernizr.js') 
// endbuild <% } %>