doctype 5
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Jade Rabbit
		link(rel='stylesheet', href='styles/main.css')<% if (modernizr) { %>
		script(src='bower_components/modernizr/modernizr.js')
		<% } %>
	body
		<% if (bootstrap) { %>
		.container
			header.header.row
				ul.nav.nav-pills.pull-right
					li.active
						a(href='#') Home
					li
						a(href='#') About
					li
						a(href='#') Contact
				h3.text-muted Jade Rabbit
			.jumbotron
				h1 'Allo, 'Allo!
				p.lead Always a pleasure scaffolding your apps.
				p 
					a.btn.btn-lg.btn-success(href='#') Splendid!
			.row.marketing
				.col-lg-6
					h4 Jade
					
					h4 LESS
					h4 HTML5 Boilerplate
					p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
					h4 Bootstrap
					p Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
					<% if (modernizr) { %>h4 Modernizr
					p Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.
					<% } %>
			footer.footer
				p ♥ from the Yeoman team
		<% } else { // bootstrap %>
		.hero-unit
			h1 'Allo, 'Allo!
			p You now have
			ul
				li Jade
				li LESS
				li HTML5 Boilerplate
				<% if (modernizr) { %>li Modernizr<% } %>
		<% } // bootstrap %>
		script(src='bower_components/jquery/jquery.js')<% if (bootstrap) { %>
		script(src='bower_components/bootstrap/js/bootstrap-affix.js')
		script(src='bower_components/bootstrap/js/bootstrap-alert.js')
		script(src='bower_components/bootstrap/js/bootstrap-dropdown.js')
		script(src='bower_components/bootstrap/js/bootstrap-tooltip.js')
		script(src='bower_components/bootstrap/js/bootstrap-modal.js')
		script(src='bower_components/bootstrap/js/bootstrap-transition.js')
		script(src='bower_components/bootstrap/js/bootstrap-button.js')
		script(src='bower_components/bootstrap/js/bootstrap-popover.js')
		script(src='bower_components/bootstrap/js/bootstrap-carousel.js')
		script(src='bower_components/bootstrap/js/bootstrap-scrollspy.js')
		script(src='bower_components/bootstrap/js/bootstrap-collapse.js')
		script(src='bower_components/bootstrap/js/bootstrap-tab.js')<% } %>
		script(src='scripts/main.js')