// build:js scripts/vendor.js 
script(src='bower_components/jquery/jquery.js')<% if (bootstrap) { %>
script(src='bower_components/bootstrap/js/bootstrap-affix.js')
script(src='bower_components/bootstrap/js/bootstrap-alert.js')
script(src='bower_components/bootstrap/js/bootstrap-dropdown.js')
script(src='bower_components/bootstrap/js/bootstrap-tooltip.js')
script(src='bower_components/bootstrap/js/bootstrap-modal.js')
script(src='bower_components/bootstrap/js/bootstrap-transition.js')
script(src='bower_components/bootstrap/js/bootstrap-button.js')
script(src='bower_components/bootstrap/js/bootstrap-popover.js')
script(src='bower_components/bootstrap/js/bootstrap-carousel.js')
script(src='bower_components/bootstrap/js/bootstrap-scrollspy.js')
script(src='bower_components/bootstrap/js/bootstrap-collapse.js')
script(src='bower_components/bootstrap/js/bootstrap-tab.js')<% } %>
// endbuild 						
// build:js scripts/main.js 
script(src='scripts/main.js')
// endbuild 